@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply py-0 px-6 rounded-md text-white uppercase text-2xl font-bold border-2 transition-colors shadow-lg border-white hover:bg-white
  }
  .btn-billboard {
    @apply bg-billboard hover:text-billboard
  }
  .btn-booth {
    @apply bg-booth hover:text-booth 
  }
  .btn-brochure {
    @apply bg-brochure hover:text-brochure 
  }
  .btn-candy {
    @apply bg-candy hover:text-candy
  }
  .btn-car {
    @apply bg-car hover:text-car
  }
  .btn-college {
    @apply bg-college hover:text-college
  }
  .btn-golf {
    @apply bg-golf hover:bg-golf
  }
  .btn-electro-booth {
    @apply bg-electro-booth hover:bg-electro-booth font-medium border-none py-2 rounded-3xl text-xl shadow-none
  }
  .btn-electro-globe {
    @apply bg-[#0091FF] hover:bg-[#0091FF] font-normal border-none py-2 rounded-lg text-lg normal-case shadow-none
  }
}

/*#requestingCameraPermissions {
  background-color: #e2677f;
}*/

/*#loadBackground {
  background-image: url('/img/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}*/

/*.spin {
  display: none;
}*/

/*.poweredby-img {
  display: none;
}*/

/*.prompt-box-8w {
  background-color: #e2677f;
}*/